{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}

  {{- if .Content }}
  <div class="post-content">
    {{ .Content }}
 <!--  -->
 <!-- Languages  -->

 <div class="row my-3">
   <h2>Languages & Framework</h2>
  <div style="display: inline-grid !important;grid-template-columns: auto auto auto auto;">
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/c-original.svg" alt="C" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/cplusplus-original.svg" alt="C++" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/css3-original-wordmark.svg" alt="CSS3" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/html5-original-wordmark.svg" alt="HTML5" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/javascript-original.svg" alt="JavaScript" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/sass-original.svg" alt="Sass" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/python-original.svg" alt="Python" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/nginx-original.svg" alt="Nginx" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/linux-original.svg" alt="Linux" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/git-scm-icon.svg" alt="Git" height="50" />
    <img style="margin: 10px; width: 48px;filter: invert(50%);" src="https://profilinator.rishav.dev/skills-assets/gnu_bash-icon.svg" alt="Bash" height="50" />
    <img style="margin: 10px; width: 48px;" src="https://profilinator.rishav.dev/skills-assets/arduino.png" alt="Arduino" height="50" />
  </div>
 </div>
  <div class="row">
    <div class="col-md-6">

      <h2 class="mb-3">Programming Skill</h2>
      

      {{range .Site.Data.programming}}
        <div class="row justify-content-between align-items-center">
          <div class="col-10">
            <p class="mb-1">{{.name}}</p>
          </div>
          <div class="col-2" style="text-align: right;;">
            <p class="mb-1 text-muted"> {{.percentage}} </p>
          </div>
        </div>
      
        <div class="progress mb-4 bg-themed" style="height: 8px;">
          <div class="progress-bar bg-{{.color}} animate_wow animate__animated animate__slideInLeft"
            data-wow-delay="0.05"
            role="progressbar"
            style="width: {{.percentage}}%;"
            aria-valuenow="{{.percentage}}"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
        </div>
      {{end}}
    </div>
    <!-- other -->
    <div class="col-md-6">

      <h2 class="mb-3">Other Skill</h2>
      
      
      {{range .Site.Data.other}}
        <div class="row justify-content-between align-items-center">
          <div class="col-10">
            <p class="mb-1">{{.name}}</p>
          </div>
          <div class="col-2" style="text-align: right;;">
            <p class="mb-1 text-muted"> {{.percentage}} </p>
          </div>
        </div>
      
        <div class="progress mb-4 bg-themed" style="height: 8px;">
          <div class="progress-bar bg-{{.color}} animate_wow animate__animated animate__slideInLeft"
            data-wow-delay="0.05"
            role="progressbar"
            style="width: {{.percentage}}%;"
            aria-valuenow="{{.percentage}}"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
        </div>
      {{end}}
    </div>
    <!-- tools -->
    <div class="col-md-6">

      <h2 class="mb-3">Tools</h2>
      
      
      {{range .Site.Data.tools}}
        <div class="row justify-content-between align-items-center">
          <div class="col-10">
            <p class="mb-1">{{.name}}</p>
          </div>
          <div class="col-2" style="text-align: right;;">
            <p class="mb-1 text-muted"> {{.percentage}} </p>
          </div>
        </div>
      
        <div class="progress mb-4 bg-themed" style="height: 8px;">
          <div class="progress-bar bg-{{.color}} animate_wow animate__animated animate__slideInLeft"
            data-wow-delay="0.05"
            role="progressbar"
            style="width: {{.percentage}}%;"
            aria-valuenow="{{.percentage}}"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
        </div>
      {{end}}
    </div>
  </div>   



  <div class="row">

  

    <div class="timeline-container">
        <div class="timeline-body bg-themed">
            {{range .Site.Data.timeline}}
            <div class="timeline-item">
                <div class="content">
                    <h2>{{ .title }}</h2>
                    <h6 class="date">{{ .from }} — {{ .to }}</h6>
                    <p>{{ .description }}</p>
                </div>
            </div>
            {{end}}
        </div>
    </div>
  </div>
  {{- end }}
  <div class="row">
    <h2>Github Statistic:</h2>
    <embed class="mb-2" src="https://github-readme-stats.vercel.app/api?username=mrsnailo&theme=nord&show_icons=true" type="image/svg+xml">
      <embed class="mb-2" src="https://github-readme-stats.vercel.app/api/top-langs/?username=mrsnailo&layout=compact&theme=codeSTACKr" type="image/svg+xml">
        <embed class="mb-2" src="https://github-readme-streak-stats.herokuapp.com?user=mrsnailo&theme=gotham&date_format=M%20j%5B%2C%20Y%5D" type="image/svg+xml">

  
    </div>
</article>

{{- end }}{{/* end main */}}