---
---
@import "portfolYOU";

ul li {
  list-style: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    //color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }
  
#myBtn:hover {
    background-color: #555;
  }

.page-share {
    clear: both;
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn {
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border-radius: .25rem;
  cursor: pointer;
}
.btn--small {
  font-size: 0.75rem;
}

.btn--facebook {
  background-color: #3b5998;
  color: #fff;
}

.btn--twitter {
  background-color: #55acee;
  color: #fff;
}
.btn--linkedin {
  background-color: #007bb6;
  color: #fff;
}
.btn--reddit {
  background-color: #ff4500;
  color: #fff;
}

// categories
.taxonomy-index li a {
  border-bottom: none;
  
}
.taxonomy-index li::before {
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f07c";

}
.taxonomy-index a {
  
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0.25em 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}