---
---
@import "portfolYOU";

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    //color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

