<!-- intregating giscus with my blog -->

<script src="https://giscus.app/client.js"
        data-repo="mrsnailo/mrsnailo.github.io"
        data-repo-id="R_kgDOGhM1uQ"
        data-category="General"
        data-category-id="DIC_kwDOGhM1uc4CO99F"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_tritanopia"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

